:root {
  /* COLORS */
  --a-focus-bg: #8faf9f;
  --a-focus-fg: #000d18;
  --a-link: #92b292;
  --a-visited: #dca3a3;
  --background: #3f3f3f;
  --code-bg: #262626;
  --code-fg: #9fafaf;
  --foreground: #dcdccc;
  --time: #c0bed1;
  /* FONTS */
  /* https://markoskon.com/system-fonts/ */
  --sans-serif: Verdana, sans-serif;
  --serif: Georgia, serif;
  --monospace: Courier, monospace;
  /* FLAIR */
  /* https://css-tricks.com/gradient-borders-in-css/ */
  border-width: 9px;
  border-style: solid;
  border-image:
    linear-gradient(
      to right,
      var(--a-focus-bg) 25%,
      var(--a-visited) 25% 50%,
      var(--foreground) 50% 75%,
      var(--time) 75%
    ) 100% 1 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 65ch;
  overflow-y: scroll;
  padding: 1rem 2rem 3rem;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0.5rem 0.5rem 3rem;
    font-size: 1.25rem;
  }
}

:focus {
  outline: 1px solid var(--a-focus-bg)
}

a:link {
  color: var(--a-link);
}

a:visited {
  color: var(--a-visited);
}

a:focus,
a:hover {
  background-color: var(--a-focus-bg);
  color: var(--a-focus-fg);
  outline: none;
  text-decoration: none;
}

a:visited:focus,
a:visited:hover {
  background-color: var(--a-visited);
  color: var(--a-focus-fg);
  outline: none;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 1rem;
  border-width: 0 0 0 6px;
  border-style: solid;
  border-image-source:
    linear-gradient(
      to bottom,
      var(--a-focus-bg) 25%,
      var(--a-visited) 25% 50%,
      var(--foreground) 50% 75%,
      var(--time) 75%
    );
  border-image-slice: 0 0 0 100%;
}

code {
  background-color: var(--code-bg);
  color: var(--code-fg);
  font-family: var(--monospace);
  font-size: smaller;
  padding: 2px;
}

footer {
  margin-top: 3.375rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--sans-serif);
  letter-spacing: -0.03em;
  word-spacing: -0.03em;
  font-variant-caps: small-caps;
}

header * {
  line-height: 1;
  margin-bottom: 0;
  padding: 0;
}

li + li {
  margin-top: 1rem;
}

p:first-of-type {
  margin-top: 2.25rem;
}

p + p {
  margin-top: 1.5rem;
}

pre code {
  display: block;
  font-size: 1rem;
  overflow-x: auto;
  padding: 0.5rem;
}

time {
  color: var(--time);
  font-family: var(--sans-serif);
  font-size: smaller;
}

ul {
  list-style-type: square;
}

#home {
  float: left;
}

#home::before{
  content: "☚ ";
}

#license {
  float: right;
}

#posts {
  list-style-type: "☛ ";
}
